@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22D4FD;
}

.presentacion {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.presentacion__enlaces__link {
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
    border: 2px solid #22D4FD;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover {
    cursor: pointer;
    background-color: #272727;
}

.footer {
    background-color: #22D4FD;
    padding: 24px;
    color: #000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.header {
    background-color: #22D4FD;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #000;
    padding: 24px;
    text-align: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}   


.header__menu__link {
    font-size: 18px;
    color: #333;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.header__menu__link:hover {
    color: #007bff;
}